/* -- Diseño --*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {

font-family: 'Raleway', sans-serif;
font-weight: 200;
font-size: 16px;
}
body { 

background-image:url("../imagenes/index.jpg");
background-size: 100%;
overflow: hidden;
}

body .index {
    color :white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-left: -21%;
    margin-top: 2%;
}

body .index .titulo {
    font-size: 75px;
    font-weight: 1000;
}

body .index .subtitulo {
    font-size: 30px;
    margin-left: 28%;
    margin-top: 10px;
    font-weight: 200;
}

body .index .lista {
    display: flex;
    flex-direction: column;
    margin-left: -4%;
    margin-top: 5px;
}

body .index .lista .boton {
    margin-top: 20px;
    background-color: #3d394a;
    color: #fcfdff;
    border-radius: 80px;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

body .index .lista .boton:hover {
    font-size: 20px;
    background-color: #575169;
}